<!--  このファイルはライセンスフリーです。ご自身の責任の下、ご自由にお使いください。 -->
<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true"
     does-continue="true" pager-click="nextSlide()" active-slide="slideindex" delegate-handle="slider">
      <ion-slide>
        <div class="box blue" ng-click="nextSlide()"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow" ng-click="nextSlide()"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box pink" ng-click="nextSlide()"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  <div>ただいま表示中のスライドはNo. {{slideindex}} です。</div>
  </ion-content>
</ion-view>
