<!--  このファイルはライセンスフリーです。ご自身の責任の下、ご自由にお使いください。 -->
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-list ng-controller="ListsCtrl"
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder">
       <ion-item ng-repeat="item in items"
             item="item"
             href="#/item/{{item.id}}"
             class="item-remove-animate">
         Item {{ item.id }}
         <ion-delete-button class="ion-minus-circled"
                        ng-click="onItemDelete(item)">
         </ion-delete-button>
         <ion-reorder-button class="ion-navicon"
                    on-reorder="moveItem(item, $fromIndex, $toIndex)">
         </ion-reorder-button>
       </ion-item>
    </ion-list>
    <ion-toggle ng-model="shouldShowDelete">
      Show Delete?
    </ion-toggle>
    <ion-toggle ng-model="shouldShowReorder">
      Show Reorder?
    </ion-toggle>
  </ion-content>
</ion-view>
